/* Proxima Nova Bold */
@font-face {
  font-family: 'Proxima Nova';
  src: url('proxima_bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Proxima Nova Regular */
@font-face {
  font-family: 'Proxima Nova';
  src: url('proxima_regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Proxima Nova Light */
@font-face {
  font-family: 'Proxima Nova';
  src: url('proxima_light.otf') format('opentype');
  font-weight: lighter; /* Adjust as needed */
  font-style: normal;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color:
    var(
      --CL-primary
    ); /* Set the color of the scrollbar thumb */
}

@media (min-width: 640px) {
  ::-webkit-scrollbar-thumb {
    border-radius: 0 0 50px 0; /* Set the border-radius of the scrollbar thumb */
  }
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}

:root {
  --CL-primary: #3778c2;
  --CL-secondary: #5fb523;
  --CL-neutral: #434b54;
}

* {
  font-family: 'Proxima Nova', sans-serif;
  color: var(--CL-neutral);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
