<article class="w-full h-full bg-gray-100 sm:rounded-2xl">
  <header class="flex items-center justify-between w-full gap-2 text-sm text-center p-4 bg-[var(--CL-primary)] text-white sm:rounded-t-xl">
    <a href="<%=root_path%>" class="flex items-center gap-1">
     <%= image_tag 'brand.svg', class: 'w-6' %>
     CoinCraft
    </a>
    <h1 class="text-sm font-normal tracking-wider text-white uppercase pointer-events-none ">Categories</h1>
  </header>
  <div class="h-full overflow-auto max-h-[40.55rem] rounded-b-2xl ">
    <ul class="grid h-full gap-3 p-0 py-3 list-none">
    <% @categories.each do |category| %>
      <li class="bg-white md:hover:shadow-xl md:hover:-translate-y-1 md:active:scale-95 md:transition">
        <a href="#" class="flex items-center gap-2 p-2">
          <picture>
            <img src="https://placehold.co/45x45" alt="icon">
          </picture>
          <h2 class="text-sm truncate text-ellipsis max-w-[10rem] font-normal"><%= category.name %></h2>
          <p class="ml-auto text-lg font-bold">$500</p>
        </a>
      </li>
    <% end %>
    </ul>
  </div>

</article>
