<article class="w-full h-full bg-gray-100 sm:rounded-2xl">
  <header class="flex items-center justify-between w-full gap-2 text-sm text-center p-4 bg-[var(--CL-primary)] text-white sm:rounded-t-xl">
    <a href="<%= categories_path %>" class="flex items-center gap-1">
      <i class="text-white text-md fa-solid fa-arrow-left"></i>
    </a>
    <h1 class="text-sm font-normal tracking-wider text-white uppercase pointer-events-none "><%= @category.name %></h1>
  </header>
</article>